.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .board-row {
    display: flex;
  }
  
  .board-row > div {
    margin: 5px;
  }
  